body {
  background-color: #ccc;
}

.selections {
  display: flex;
  justify-content: center;
}

.selection {
  font-size: 3rem;
  border: none;
  background-color: #ccc;
  margin: 3.5rem;
  cursor: pointer;
  transition: 150ms;
}

.selection:hover {
  transform: scale(1.2);
}

.results {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  justify-items: center;
  align-items: center;
}

.you,
.computer {
  margin: 1.5rem;
  font-size: 2rem;
}

.result-score {
  font-size: 1.5rem;
  opacity: 0.6;
}

.result-selection {
  font-size: 2.5rem;
  opacity: 0.5;
  border: none;
  background-color: #ccc;
  margin: 3.5rem;
}

.result-selection.winner {
  opacity: 1;
  font-size: 2.7rem;
}
